/*
 * Copyright (c) 2020 Teslabs Engineering S.L.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &storage_partition;

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&p25q16h {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000000 0x00200000>;
		};
	};
};

&i2c1 {
	mpu9250: mpu9250@12 {
		status = "okay";
		compatible = "invensense,mpu9250";
		reg = <0x12>;
		irq-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		gyro-sr-div = <10>;
		gyro-dlpf = <5>;
		gyro-fs = <2000>;
		accel-fs = <16>;
		accel-dlpf = "5.05";
	};
};

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND";
		cache-size = <65536>;
	};
};
