/*
 * Copyright (c) 2020 Teslabs Engineering S.L.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &storage_partition;

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&p25q16h {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000000 0x00200000>;
		};
	};
};

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND";
		cache-size = <65536>;
	};

	aliases {
		my-icm20948 = &icm20948;
	};
};

&i2c1 {
	status = "okay";
	icm20948: icm20948@68 {
		status = "okay";
		compatible = "invensense,icm20948";
		reg = <0x68>;
		label = "ICM20948";
		accel-fs = <0>; /* ICM20948_ACCEL_FS_SEL_2G */
		accel-hz = <9>; /* Index into your sample rate divider array */
		accel-fchoice = <0>;
		accel-lpf = <0>;
		gyro-fs = <0>; /* ICM20948_GYRO_FS_250 */
		gyro-hz = <9>; /* Index into your sample rate divider array */
		gyro-fchoice = <0>;
		gyro-lpf = <0>;
		mag-freq = <0>;
		gyro-sample-rate-div = <9>; /* Example value for gyro sample rate divider */
		accel-sample-rate-div = <9>; /* Example value for accel sample rate divider */
	};
};

&spi2 {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};

&adc {
	status = "disabled";
};